html, body, figure, figcaption, ul, li, h1, h2, div, button, canvas, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Indie Flower';
  text-align: inherit;
  background: transparent;

}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body .show {
  display: block;
}

section {
  position: relative;
  margin: 10px auto;
  width: 1000px;
}

canvas {
  border: 1px solid black;
  border-radius: 10px;
}

.play-game {
  display: none;
  font-size: 50px;
  position: absolute;
  vertical-align: middle;
  width: 500px;
  top: 10%;
  left: 28%;
}

.play-game > p {
  font-size: 30px;
}

.welcome-message {
  display: none;
  font-size: 40;
  position: absolute;
  vertical-align: middle;
  width: 500px;
  top: 30%;
  left: 28%;
}

.welcome-message > input {
  margin-top: 5px;
  font-size: 20px;
  width: 400px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.scoreboard {
  display: none;
  position: absolute;
  font-size: 25px;
  width: 300px;
  top: 45%;
  left: 33%;
}

.scoreboard > h2 {
  text-align: center;
  text-decoration: underline;
}

.left {
  float: left;
  line-height: 30px;
}

.left li {
  width: 235px;
  height: 33px;
  overflow: hidden;
}

.right {
  float: right;
  line-height: 30px;
}

.right li {
  height: 33px;

}
